<ion-content no-bounce class="login_view">
    
    <!-- <ion-row class="logo-row">
        <ion-col col-1>
            <div padding>
                <ion-icon (click)="popPage()" name="md-arrow-back" style="font-size: 35px;color:#488AFF">
                </ion-icon>
            </div>
        </ion-col>
    </ion-row> -->

    <!-- <ion-row class="logo-row" [style.padding-top]="'20px'">
        <ion-col text-center>
            <img src="./assets/images/logo.png" style="display: inline-block;max-width: 100px;" />
        </ion-col>
    </ion-row> -->
    
    <ion-row class="login_header">
        <ion-col text-center>
            <h4>Login</h4>
            <div class="user_profile">
                <img src="./assets/images/user-profile.png" alt="user-profile">
            </div>
        </ion-col>
    </ion-row>
    <ion-row>
        
        <button class="create_new" ion-button block type="button" clear (click)="goToSignup()">
            Create a new account
        </button>
    </ion-row>
    <div padding>
        <form (ngSubmit)="loginUser()" [formGroup]="loginForm" novalidate>
            <div class="row responsive-md">
                <div class="col col-50 col-offset-25">
                    <div class="user_input">
                        <ion-icon ios="ios-person" md="md-person"></ion-icon>
                        <ion-item [style.padding-left]='"0px"' class="">
                            <!-- <ion-label stacked>Email</ion-label> -->

                            <ion-input #email formControlName="email" type="email" placeholder="User name" 
                            [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty"></ion-input>
                        </ion-item>
                        <p *ngIf="!loginForm.controls.email.valid  && loginForm.controls.email.dirty">Please enter a valid email.</p>
                    </div>
                    <!-- <ion-item class="error-message" [style.padding-left]='"0px"'
                        *ngIf="!loginForm.controls.email.valid  && loginForm.controls.email.dirty">
                        
                    </ion-item> -->
                    <div class="user_input">
                        <ion-icon ios="ios-lock" md="md-lock"></ion-icon>
                        <ion-item [style.padding-left]='"0px"'>
                            
                            <ion-input #password formControlName="password" type="password" placeholder="Password" 
                            [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"></ion-input>
                        </ion-item>
                        <p *ngIf="!loginForm.controls.password.valid  && loginForm.controls.password.dirty">Your password needs more than 6 characters.</p>
                        </div>
                    <div class="login_btn">
                        
                        <button ion-button block type="button" 
                            (click)="loginUser()"
                            [style.position] = "'relative'"
                            [style.padding] = "'0 30px'"
                            [style.height] = "'50px'"
                            [style.background-color] = "'#1B8BF9'"
                            [style.box-shadow] = "'15px 0px 35px 0px rgba(244,67,54,0.25)'"
                            [style.border-radius] = "'10px'"
                            >           
                            <ion-icon name="ios-log-in"></ion-icon>             
                            Login
                        </button>
                    </div>
                    <br>
                    <!-- <button ion-button block type="button" clear (click)="goToSignup()">
                        Create a new account
                    </button> -->
                    <!-- <button ion-button block clear (click)="goToResetPassword()">
                        I forgot my password
                    </button> -->
                </div>
            </div>
        </form>
        <ion-row (click)="goToForgotPassword()" text-center>
        <ion-col
        >
        <button ion-button clear [style.color]="'black'" class="forgot_pass">
            Forgot Your Password?
        </button>
    </ion-col>
</ion-row>
    </div>
</ion-content>