page-login {
	.login_view{
		.user_profile{
			background: #fff;
			border-radius: 100px;
			width: 150px;
			height: 150px;
			margin:0 auto; 
			position: relative;
			margin-top: -5px;
			img{
				border-radius: 100px;
				width: 100%;
			}
		}
		.create_new{
			text-transform: capitalize;
			color: #86c63e;
			font-size: 16px;
			margin-bottom: 30px;
			font-weight: normal;
			margin-top: 0;
		}
		.user_input{
			position: relative;
			margin-bottom: 40px;
			ion-icon{
				position: absolute;
				left: 0;
				top: 6px;
				content: '';
				color: #ccc;
				z-index: 1;
				font-size: 25px;
			}
			.text-input{
				padding-left: 25px;
			}
		}
		.login_btn{
			width: 50%;
			margin: 0 auto;
			@media(max-width:400px){
				width: 70%;
			}
			button{
				background-color: #8a0093 !important;
				color: #fff;
				border-radius: 100px !important;
				font-size: 18px;
			    text-transform: capitalize;
			    font-weight: normal;
			    height: 60px !important;
			    ion-icon{
			    	font-size: 35px;
    				margin-right: 15px;
			    }
			}
		}
		.forgot_pass{
			color: #1483cb !important;
			text-decoration: underline;
			text-transform: capitalize;
			font-size: 16px;
			&:hover{
				background:transparent !important;
			}
		}
		.login_header{
			background: url('../assets/images/login-bg.png');
			background-repeat: no-repeat;
		    background-size: contain;
		    h4{
		    	color: #fff;
		    	font-weight: normal;
		    	padding-top: 38px;
		    	padding-bottom: 30px;
		    }
		}
	}
}
