
<ion-tabs class="tabs-basic" [selectedIndex]="mySelectedIndex">
  <ion-tab tabTitle="Order History" tabIcon="time" [root]="tab1Root"></ion-tab>
  <ion-tab tabTitle="New Order" tabIcon="ios-add-circle-outline" [root]="tab2Root"></ion-tab>
  <ion-tab tabTitle="Ticket" tabIcon="ios-text" [root]="tab3Root"></ion-tab>
</ion-tabs>