page-tabs {
	.tabs-basic{
		.tab-button-icon{
			width: 24px;
			height: 24px;
		}
		.ion-md-time:before{
			content: url('../assets/images/time.png') !important;
			background-size: 100%;
		}
		.ion-ios-add-circle-outline:before{
			content: url('../assets/images/plus-button.png') !important;
			background-size: 100%;
		}
		.ion-ios-text-outline:before{
			content: url('../assets/images/tickets.png') !important;
			background-size: 100%;
		}
		.tab-button{
			color: #8c8c8c;
			.tab-button-text{
				font-size: 16px;
				@media(max-width: 400px){
					font-size: 12px;
				}
			}
		}
		.tab-button[aria-selected=true]{
			color: #8f009e;
			.tab-button-text{
				font-size: 16px;
				@media(max-width: 400px){
					font-size: 12px;
				}
			}
		}
	}
	.tabs-md .tab-button[aria-selected=true] .ion-md-time:before{
		content: url('../assets/images/time-active.png') !important;
		background-size: 100%;
	}
	.tabs-md .tab-button[aria-selected=true] .ion-ios-add-circle-outline:before{
		content: url('../assets/images/plus-button-active.png') !important;
		background-size: 100%;
	}
	.tabs-md .tab-button[aria-selected=true] .ion-ios-text:before{
		content: url('../assets/images/tickets-active.png') !important;
		background-size: 100%;
	}
}
