<ion-header>
     <!-- <ion-row class="logo-row"> -->
        
    <!-- </ion-row> -->
  <ion-navbar hideBackButton>
 	<button ion-button menuToggle>
		<ion-icon name="menu"></ion-icon>
	</button>
    <ion-title text-center>Add Balance</ion-title>
    <ion-buttons right>
		<button ion-button icon-only (click) = home()>
			<ion-icon name="ios-home-outline" right></ion-icon>
		</button>
	</ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-bounce class="login_view">
<div padding>
        <form (ngSubmit)="addBalance()" [formGroup]="balanceForm" novalidate>
            <div class="row responsive-md">
                <div class="col col-50 col-offset-25">
                    <h2><div [innerHtml]="text?.value" text-center></div></h2>
                    <div class="user_input">
                        <ion-icon ios="logo-usd" md="logo-usd"></ion-icon>
                        <ion-item [style.padding-left]='"0px"' class="">
                            <!-- <ion-label stacked>Email</ion-label> -->

                            <ion-input #dollar formControlName="dollar" type="number" placeholder="Enter Dollar" 
                            [class.invalid]="!balanceForm.controls.dollar.valid && balanceForm.controls.dollar.dirty"></ion-input>
                        </ion-item>
                        <p *ngIf="!balanceForm.controls.dollar.valid  && balanceForm.controls.dollar.dirty">Please enter a valid amount.</p>
                    </div>
                    <!-- <ion-item class="error-message" [style.padding-left]='"0px"'
                        *ngIf="!loginForm.controls.email.valid  && loginForm.controls.email.dirty">
                        
                    </ion-item> -->
              
                    <div class="login_btn" style="width: 63%;">
                        
                        <button ion-button block type="button" 
                            (click)="addBalance()"
                            [style.position] = "'relative'"
                            [style.padding] = "'0 30px'"
                            [style.height] = "'50px'"
                            [style.background-color] = "'#1B8BF9'"
                            [style.box-shadow] = "'15px 0px 35px 0px rgba(244,67,54,0.25)'"
                            [style.border-radius] = "'10px'"
                            >           
                            <ion-icon name="ios-log-in"></ion-icon>             
                            Proceed to Paypal
                        </button>
                    </div>
                    <br>
                    <!-- <button ion-button block type="button" clear (click)="goToSignup()">
                        Create a new account
                    </button> -->
                    <!-- <button ion-button block clear (click)="goToResetPassword()">
                        I forgot my password
                    </button> -->
                </div>
            </div>
        </form>
    </div>
</ion-content>
