<ion-content no-bounce class="main-view">
	<div class="overlay">
		<div class="modal_content login_view">
			<ion-row>
				<ion-col>
					<div>
						<h5>Order Id</h5>
						<p>{{data.order_id}}</p>
					</div>
				</ion-col>
				<ion-col>
					<div>
						<h5>Date</h5>
						<p>{{data.created_at | date:'dd MMM y'}}</p>
					</div>
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col>
					<div>
						<h5>Link</h5>
						<p>{{data.link}}</p>
					</div>
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col>
					<div>
						<h5>Charge</h5>
						<p>{{data.charge}}</p>
					</div>
				</ion-col>
				<ion-col>
					<div>
						<h5>Start Count</h5>
						<p>{{data.orderStatus.start_count}}</p>
					</div>
				</ion-col>
				<ion-col>
					<div>
						<h5>Quantity</h5>
						<p>{{data.quantity}}</p>
					</div>
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col>
					<div>
						<h5>Service</h5>
						<p>{{data.service_details.name}}</p>
					</div>
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col>
					<div>
						<h5>Status</h5>
						<p>{{data.orderStatus.status}}</p>
					</div>
				</ion-col>
				<ion-col>
					<div>
						<h5>Remains</h5>
						<p>{{data.orderStatus.remains}}</p>
					</div>
				</ion-col>
				<ion-col>
					<!-- <div>3 of 3</div> -->
				</ion-col>
			</ion-row>
			<ion-buttons text-center>
				<div class="login_btn">
					<button ion-button text-center 
					[style.position] = "'relative'"
						[style.padding] = "'0 30px'"
						[style.height] = "'50px'"
						[style.background-color] = "'#1B8BF9'"
						[style.box-shadow] = "'15px 0px 35px 0px rgba(244,67,54,0.25)'"
						[style.border-radius] = "'10px'"
						(click)=close()>Close</button>
				</div>
			</ion-buttons>
		</div>
	</div>
</ion-content>
