page-modal {
	.main-view{
    	background: transparent;
  	}
  	.overlay {
	    position: fixed;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 1;
	    opacity: 1;
	    background-color: rgba(74, 72, 72, 0.50);
  	}
  	.modal_content {
        position: absolute;
	    top: 50%;
	    transform: translate(-8%, -50%);
	    left: 20%;
	    width: 70%;
	    z-index: 100;
	    background: #ffffff;
	    border-radius: 15px;
	    box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    padding: 10px 10px 20px 10px;
	    /* margin: 105px; */
	}

	p{
		margin: 5px;
	}

	h5{
		margin: 5px;
	}
}
