<ion-content no-bounce class="login_view">
    <ion-row class="login_header">
        <!-- <ion-row class="logo-row">
        <ion-col col-1>
            <div padding>
                
            </div>
        </ion-col>
    </ion-row>
 -->
        <ion-col text-center>
            <ion-icon (click)="popPage()" name="md-arrow-back" style="font-size: 35px;color:white !important;    position: absolute;left: 20px;top: 20px;">
            </ion-icon>
            <h4>Forgot Password</h4>
            <div class="user_profile">
                <img src="./assets/images/user-profile.png" alt="user-profile">
            </div>
        </ion-col>
    </ion-row>

    <div padding>
        <form (ngSubmit)="forgotPassword()" [formGroup]="forgotPasswordForm" novalidate>
            <div class="row responsive-md">
                <div class="col col-50 col-offset-25">
                    <div class="user_input">
                        <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
                    <ion-item [style.padding-left]='"0px"'>
                        <!-- <ion-label stacked>Email</ion-label> -->
                        <ion-input #forgot_email formControlName="forgot_email" type="email" placeholder="Your email address" 
                        [class.invalid]="!forgotPasswordForm.controls.forgot_email.valid && forgotPasswordForm.controls.forgot_email.dirty"></ion-input>
                    </ion-item>

                    <ion-item class="error-message" [style.padding-left]='"0px"'
                        *ngIf="!forgotPasswordForm.controls.forgot_email.valid  && forgotPasswordForm.controls.forgot_email.dirty">
                        <p>Please enter a valid email.</p>
                    </ion-item>
                </div>
                    <div class="login_btn">
                    <button ion-button block type="button" 
                        (click)="forgotPassword()"
                        [style.position] = "'relative'"
                        [style.padding] = "'0 30px'"
                        [style.height] = "'50px'"
                        [style.background-color] = "'#1B8BF9'"
                        [style.box-shadow] = "'15px 0px 35px 0px rgba(244,67,54,0.25)'"
                        [style.border-radius] = "'10px'"
                        >                        
                        Submit
                    </button>
                </div>
                </div>
            </div>
        </form>
    </div>
</ion-content>
