page-services {
	.neworder_view{
		.item-inner{
			border-bottom: 0 !important;
		}
		ion-label{
			font-size: 1.7rem !important;
			color: #000 !important;
			font-weight: bold;
		}
		ion-grid{
			padding: 0px !important;
		}
		textarea{
			height: 150px !important;
			padding:10px 15px !important;
		}
		input, textarea, select{
			border:1px solid #b7b7b7;
			border-radius: 5px;
			height: 45px;
			box-shadow: none;
			padding: 0 15px;
			width: 100%;
			font-weight: normal;
			font-size: 18px;
		}
		.input-label{
			margin-bottom: 10px;
		}
		.item-md.item-input.item-input-has-focus .item-inner, 
		.item-md.item-input.input-has-focus .item-inner{
			box-shadow: none;
		}
		.checkbox-md{
			margin: 9px 9px 9px 4px !important;
			.checkbox-icon{
				width: 25px;
				height: 25px;
				border-width: 1px;
				.checkbox-inner{
					left: 8px;
					width: 8px;
    				height: 16px;
				}
			}
		}
		.checkbox-md .checkbox-checked {
		    border-color: #890092;
		    background-color: #890092;
		}
		.place_order_btn{
			background-color: #3cb878;
			width: 93.5%;
		    margin: 0 auto;
		    display: block;
		    height: 5rem;
	        font-size: 22px;
	    	text-transform: capitalize;
	    	&:hover{
	    		background-color: #3cb878 !important;
	    	}
		}
	}
}
