<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
		<ion-icon name="menu"></ion-icon>
	</button>
	<ion-title text-center>New Order</ion-title>
	<ion-buttons right>
		<button ion-button icon-only (click) = home()>
			<ion-icon name="ios-home-outline" right></ion-icon>
		</button>
	</ion-buttons>
    <!-- <ion-title>All Services</ion-title>
    <ion-buttons right>
		<button ion-button icon-only (click) = logout()>
			<ion-icon name="exit" right></ion-icon>
		</button>
	</ion-buttons> -->
  </ion-navbar>

</ion-header>
<ion-content class="neworder_view">
	<form [formGroup]="addOrderForm" (submit)="orderNow()" novalidate>
	<ion-grid>
		  <ion-row>
		    <ion-col col-12>
		    	<ion-item>
			    	<label class="item item-input item-select">
	                    <div class="input-label">
	                        Category
	                    </div>
						<select #category formControlName="category"
						[class.invalid]="!addOrderForm.controls.category.valid && addOrderForm.controls.category.dirty">
	                        <option selected value="">Select Category</option>
	                        <option *ngFor="let data of categories" value="{{data}}">{{data}}</option>
	                        <!-- <option>Red</option> -->
	                    </select>
	                </label>
				</ion-item>
				<p [style.margin-left]="'19px'" *ngIf="!addOrderForm.controls.category.valid  && addOrderForm.controls.category.dirty">Please select category.</p>				
		    </ion-col>
		    <ion-col col-12>
		    	<ion-item>
			    	<label class="item item-input item-select">
	                    <div class="input-label">
	                        Services
	                    </div>
	                    <select #service_id formControlName="service_id"
						[class.invalid]="!addOrderForm.controls.service_id.valid && addOrderForm.controls.service_id.dirty" (input)="change($event)">
	                        <option selected value="">Select Service</option>
	                        <ng-container *ngFor="let data of serviceData">
		                        <option 
		                        	*ngIf="this.addOrderForm.value.category==data.category"
		                        	value="{{data.service}}">
		                        		{{(data.title != null)?data.title:data.name}}
		                        </option>
	                    	</ng-container>
	                    </select>
	                </label>
				</ion-item>
				<p [style.color] = "'red'" [style.margin-left]="'19px'" *ngIf="!addOrderForm.controls.service_id.valid  && addOrderForm.controls.service_id.dirty">Please select Service.</p>				
		    </ion-col>
		    <ion-col col-12 *ngIf="textShow">
		    	<ion-item>
				    <ion-label stacked>Description</ion-label>
				    <ion-textarea name="description" #description formControlName="description"
					[class.invalid]="!addOrderForm.controls.description.valid && addOrderForm.controls.description.dirty" disabled></ion-textarea>
				</ion-item>
				<p [style.color] = "'red'" [style.margin-left]="'19px'" *ngIf="!addOrderForm.controls.description.valid  && addOrderForm.controls.description.dirty">Please enter description.</p>				
		    </ion-col>
		    <ion-col col-12>
		    	<ion-item>
				    <ion-label stacked>Link</ion-label>
				    <ion-input type="text" #link formControlName="link" placeholder="Enter URL" 
					[class.invalid]="!addOrderForm.controls.link.valid && addOrderForm.controls.link.dirty"></ion-input>
				</ion-item>
				<p [style.color] = "'red'" [style.margin-left]="'19px'" *ngIf="!addOrderForm.controls.link.valid  && addOrderForm.controls.link.dirty">Please enter link.</p>				
		    </ion-col>
		  </ion-row>
		  <ion-row>
		    <ion-col col-6>
		    	<ion-item>
				    <ion-label stacked>Quantity</ion-label>
				    <ion-input (ionChange)="addRate($event)"  type="text" #quantity formControlName="quantity" placeholder="Enter quantity"></ion-input>
				</ion-item>
				<p [style.color] = "'red'" [style.margin-left]="'19px'" *ngIf="!addOrderForm.controls.quantity.valid  && addOrderForm.controls.quantity.dirty">Please enter valid quantity more than 100.</p>				
		    </ion-col>
		    <ion-col col-6>
		    	<ion-item>
				    <ion-label stacked>Charge</ion-label>
				    <ion-input type="text" #price formControlName="price" readonly placeholder="Charge"></ion-input>
				</ion-item>
				<!-- <p *ngIf="!addOrderForm.controls.price.valid  && addOrderForm.controls.price.dirty">Please enter a valid email.</p>	 -->			
		    </ion-col>
		    <!-- <ion-col col-12>
		    	<ion-item>
				    <ion-label>Drip-Feed</ion-label>
				    <ion-checkbox></ion-checkbox>
				  </ion-item>
		    </ion-col> -->
		    <ion-col col-12>
		    	<button ion-button class="place_order_btn">Place Order</button>
		    </ion-col>
		  </ion-row>
	</ion-grid>
	</form>
</ion-content>
<!-- <ion-content padding>
	<ion-searchbar (ionInput)="getService($event)" (ionCancel)="onCancel($event)"></ion-searchbar>

	<ion-list>
		<button text-wrap ion-item *ngFor="let item of serviceData" (click)=showDetails(item)>
			<h2>{{item.name}}</h2>
		</button>
	</ion-list>
</ion-content> -->
