
<ion-header>

  <ion-navbar hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-row class="logo-row">
		<ion-title text-center>User Support</ion-title>
		<ion-buttons right>
			<button ion-button icon-only (click) = home()>
				<ion-icon name="ios-home-outline" right></ion-icon>
			</button>
		</ion-buttons>
	</ion-row>
  </ion-navbar>

</ion-header>


<ion-content>
	<div class="message-wrap">

    <div *ngFor="let msg of msgList"
         class="message"
         [class.right]="msg.sender_id === userData.userDetail.id"
         [class.left]="msg.receiver_id === userData.userDetail.id"
         >
      <img class="user-img" [src]="userDetail.profile_pic" alt="" src="" *ngIf="msg.sender_id === userData.userDetail.id">
      <img class="user-img" [src]="adminDetail.profile_pic" alt="" src="" *ngIf="msg.receiver_id === userData.userDetail.id">
      <!-- <ion-spinner name="dots" ></ion-spinner> -->
      <div class="msg-detail">
        <div class="msg-content">
          <span class="triangle"></span>
          <p class="line-breaker ">{{msg.message}}</p>
        </div>
        <div class="msg-info">
          <p *ngIf="msg.sender_id === userData.userDetail.id">
            {{userDetail.name}}&nbsp;&nbsp;&nbsp;{{msg.created_at}}</p>
          <p *ngIf="msg.receiver_id === userData.userDetail.id">
            {{adminDetail.name}}&nbsp;&nbsp;&nbsp;{{msg.created_at}}</p>
        </div>
      </div>
    </div>

  </div>
</ion-content>

<ion-footer no-border [style.height]="showEmojiPicker ? '255px' : '70px'">
  <div class="input-wrap">
    <!-- <button ion-button clear icon-only item-right (click)="switchEmojiPicker()">
      <ion-icon name="md-happy"></ion-icon>
    </button> -->
    <textarea #chat_input
              placeholder="Start typing..."
              [(ngModel)]="editorMsg"
              (keyup.enter)="sendMsg()"
              (focusin)="onFocus()">
    </textarea>
    <button ion-button clear icon-only item-right (click)="sendMsg()">
      <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
    </button>
  </div>
  <!-- <emoji-picker [(ngModel)]="editorMsg"></emoji-picker> -->
</ion-footer>