<ion-header>
	<ion-navbar hideBackButton>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-row class="logo-row">
			<ion-title text-center>Profile</ion-title>
			<ion-buttons right>
				<button ion-button icon-only (click) = home()>
					<ion-icon name="ios-home-outline" right></ion-icon>
				</button>
			</ion-buttons>
		</ion-row>
	</ion-navbar>
</ion-header>

<ion-content no-bounce class="login_view">
	<div padding>
		<div (click) = uploadImage() text-center>
			<img src="{{imageBase64}}" height="100" width="100" align="center" [style.border-radius]="'50px'" [style.cursor]="'pointer'">
		</div>
		<!-- <ion-buttons text-center>
			<button ion-button (click) = uploadImage()>
				Change Picture
			</button>
		</ion-buttons> -->
		<form [formGroup]="profileForm" (submit)="editUser()" novalidate>
			<!-- <ion-item text-center> -->
				
			<!-- </ion-item> -->
			<div class="row responsive-md">
				<div class="col col-50 col-offset-25">
                    <div class="user_input">
                    	<ion-icon ios="ios-person" md="md-person"></ion-icon>
			<ion-item [style.padding-left]='"0px"'>
				<!-- <ion-label stacked>First Name</ion-label> -->
				<ion-input #firstname formControlName="firstname" type="text" placeholder="Your first name" 
				[class.invalid]="!profileForm.controls.firstname.valid && profileForm.controls.firstname.dirty">
				</ion-input>
			</ion-item>

			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.firstname" >
					<div class="error" *ngIf="profileForm.get('firstname').hasError(validation.type) && (profileForm.get('firstname').dirty || profileForm.get('firstname').touched)">
				{{ validation.message }}
					</div>
				</ng-container>
			</div>
			</div>
			<div class="user_input">
			<ion-icon ios="ios-person" md="md-person"></ion-icon>
			<ion-item [style.padding-left]='"0px"'>
				<!-- <ion-label stacked>Last Name</ion-label> -->
				<ion-input #lastname formControlName="lastname" type="text" placeholder="Your last name" 
				[class.invalid]="!profileForm.controls.lastname.valid && profileForm.controls.lastname.dirty">
				</ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.lastname" >
					<div class="error" *ngIf="profileForm.get('lastname').hasError(validation.type) && (profileForm.get('lastname').dirty || profileForm.get('lastname').touched)">
				{{ validation.message }}
					</div>
				</ng-container>
			</div>
		</div>
			<div class="user_input">
			<ion-icon ios="ios-person" md="md-mail"></ion-icon>
			<ion-item [style.padding-left]='"0px"'>
				<!-- <ion-label stacked>Email</ion-label> -->
				<ion-input #email formControlName="email" type="email" placeholder="Your email address" 
				[class.invalid]="!profileForm.controls.email.valid && profileForm.controls.email.dirty">
				</ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.email" >
					<div class="error" *ngIf="profileForm.get('email').hasError(validation.type) && (profileForm.get('email').dirty || profileForm.get('email').touched)">
				{{ validation.message }}
					</div>
				</ng-container>
			</div>
			</div>
			<!-- <ion-item class="error-message" [style.padding-left]='"0px"'
			*ngIf="!profileForm.controls.email.valid  && profileForm.controls.email.dirty">
			<p>Please enter a valid email.</p>
			</ion-item> -->

			<br>
			<div class="login_btn">
			<button ion-button block type="submit"
				[style.position] = "'relative'"
				[style.padding] = "'0 30px'"
				[style.height] = "'50px'"
				[style.background-color] = "'#1B8BF9'"
				[style.box-shadow] = "'15px 0px 35px 0px rgba(244,67,54,0.25)'"
				[style.border-radius] = "'10px'"
			>
			Save Changes
			</button>
			</div>
			<br>
			</div>
			</div>
			<button ion-button block type="button" clear (click)="goToChangePassword()">
				Change password
			</button>
		</form>
	</div>	
</ion-content>
