<ion-content class="welcomeContent" >

    <ion-row class="logo-row" [style.padding-top]="'50px'">
        <ion-col text-center>
            <img src="./assets/images/logo.png" style="display: inline-block;max-width: 100px;" />
        </ion-col>
    </ion-row>

    <div padding>
        <ion-row text-center>
            <ion-col col-6 text-right
            [style.color]="'#1B8BF9'"
            [style.font-size]="'40px'"
            >
            Social
        </ion-col>
        <ion-col col-6 text-left
        [style.color]="'#1B8BF9'"
        [style.font-size]="'40px'"
        >
        King
    </ion-col>
</ion-row>
</div>
<div style="bottom:90px; width:100%; left: 0px; position: absolute;">

    <div padding (click) = "signupPage()">
        <button ion-button block 
        [style.position] = "'relative'"
        [style.padding] = "'0 30px'"
        [style.height] = "'50px'"
        [style.background-color] = "'#1B8BF9'"
        [style.box-shadow] = "'15px 0px 35px 0px rgba(244,67,54,0.25)'"
        [style.border-radius] = "'10px'"
        [style.color]="'black'"
        >
        LET'S GET STARTED
    </button>
</div>
<div padding>
        <ion-row (click)="loginPage()" text-center>
            <ion-col
            >
            <button ion-button clear [style.color]="'black'">
                <b><h6>Already have an account? LOGIN</h6></b>
            </button>
        </ion-col>
    </ion-row>
</div>
</div>
</ion-content>
