<ion-header>

  <ion-navbar>
    <ion-title>Buy Service</ion-title>
    <ion-buttons right>
		<button ion-button icon-only (click) = logout()>
			<ion-icon name="exit" right></ion-icon>
		</button>
	</ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-card>
		<ion-card-header>
    		<b>{{serviceDetail.name}} </b>
  		</ion-card-header>
	 	<ion-card-content>
	    	<h2>Category : {{serviceDetail.category}}</h2>
	    	<h2 *ngIf="serviceDetail.admin_rate == 0">Rate : {{serviceDetail.rate}}</h2>
	    	<h2 *ngIf="serviceDetail.admin_rate != 0">Rate : {{serviceDetail.admin_rate}}</h2>
	  	</ion-card-content>
	</ion-card>
	<div padding>
		<form [formGroup]="addOrderForm" (submit)="orderNow()" novalidate>
			<ion-item [style.padding-left]='"0px"'>
				<ion-label stacked>Enter URL</ion-label>
				<ion-input #link formControlName="link" type="text" placeholder="Enter URL" 
				[class.invalid]="!addOrderForm.controls.link.valid && addOrderForm.controls.link.dirty">
				</ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.link" >
					<div class="error" *ngIf="addOrderForm.get('link').hasError(validation.type) && (addOrderForm.get('link').dirty || addOrderForm.get('link').touched)">
				{{ validation.message }}
					</div>
				</ng-container>
			</div>

			<ion-item [style.padding-left]='"0px"'>
				<ion-label stacked>Quantity</ion-label>
				<!-- <ion-input #quantity formControlName="quantity" type="text" placeholder="Enter quantity"
				[class.invalid]="!addOrderForm.controls.quantity.valid && addOrderForm.controls.quantity.dirty">
				</ion-input> -->
				<ion-select #quantity formControlName="quantity" placeholder="Select quantity">
					<ion-option *ngFor="let i of [100,101,200,300,400,500,600]">{{i}}</ion-option>
				</ion-select>
				
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.quantity" >
					<div class="error" *ngIf="addOrderForm.get('quantity').hasError(validation.type) && (addOrderForm.get('quantity').dirty || addOrderForm.get('quantity').touched)">
				{{ validation.message }}
					</div>
				</ng-container>
			</div> 
			<ion-buttons text-center>
				<button ion-button text-center>Order Now</button>
			</ion-buttons>
		</form>
	</div>
	
</ion-content>
