<ion-header>

   <ion-navbar hideBackButton>
  	<button ion-button menuToggle>
		<ion-icon name="menu"></ion-icon>
	</button>
    <ion-title text-center>About Us</ion-title>
    <ion-buttons right>
		<button ion-button icon-only (click) = home()>
			<ion-icon name="ios-home-outline" right></ion-icon>
		</button>
	</ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content [style.padding-left]='"6px"'>
	<h2><div [innerHtml]="text?.value" text-center></div></h2>

</ion-content>
