	<ion-header>
	<ion-navbar>
		<ion-row class="logo-row">
			<ion-title text-center>Change Password</ion-title>
			<ion-buttons right>
				<button ion-button icon-only (click) = home()>
					<ion-icon name="ios-home-outline" right></ion-icon>
				</button>
			</ion-buttons>
		</ion-row>
	</ion-navbar>
</ion-header>

<ion-content [style.padding-left]='"6px"' no-bounce class="login_view">
	<div padding>
		<form [formGroup]="changePasswordForm" (submit)="changePassword()" novalidate>
			<div class="row responsive-md">
				<div class="col col-50 col-offset-25">
                    <div class="user_input">
                    	<ion-icon ios="ios-person" md="md-person"></ion-icon>
			<ion-item [style.padding-left]='"0px"'>
				
					<ion-input #old_password formControlName="old_password" type="password" placeholder="Your old password" 
					[class.invalid]="!changePasswordForm.controls.old_password.valid && changePasswordForm.controls.old_password.dirty">
				</ion-input>
			</ion-item>


			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.old_password" >
					<div class="error" *ngIf="changePasswordForm.get('old_password').hasError(validation.type) && (changePasswordForm.get('old_password').dirty || changePasswordForm.get('old_password').touched)">
				{{ validation.message }}
					</div>
				</ng-container>
			</div>
			</div>

			<div class="user_input">
            <ion-icon ios="ios-person" md="md-person"></ion-icon>
			<ion-item [style.padding-left]='"0px"'>
				
				<ion-input #new_password formControlName="new_password" type="password" placeholder="Your new password" 
				[class.invalid]="!changePasswordForm.controls.new_password.valid && changePasswordForm.controls.new_password.dirty">
				</ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.new_password" >
					<div class="error" *ngIf="changePasswordForm.get('new_password').hasError(validation.type) && (changePasswordForm.get('new_password').dirty || changePasswordForm.get('new_password').touched)">
				{{ validation.message }}
					</div>
				</ng-container>
			</div>
			</div>

			<div class="user_input">
            <ion-icon ios="ios-person" md="md-person"></ion-icon>
			<ion-item [style.padding-left]='"0px"'>
				
				<ion-input #password_confirmation formControlName="password_confirmation" type="password" placeholder="Your confirm password" 
				[class.invalid]="!changePasswordForm.controls.password_confirmation.valid && changePasswordForm.controls.password_confirmation.dirty">
				</ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.password_confirmation" >
					<div class="error" *ngIf="changePasswordForm.get('password_confirmation').hasError(validation.type) && (changePasswordForm.get('password_confirmation').dirty || changePasswordForm.get('password_confirmation').touched)">
				{{ validation.message }}
					</div>
				</ng-container>
			</div>
			</div>
	<br>
	<div class="login_btn">
	<button ion-button block type="submit"
	[style.position] = "'relative'"
	[style.padding] = "'0 30px'"
	[style.height] = "'50px'"
	[style.background-color] = "'#1B8BF9'"
	[style.box-shadow] = "'15px 0px 35px 0px rgba(244,67,54,0.25)'"
	[style.border-radius] = "'10px'"
	>
	Save Changes
	</button>	
	</div>
</div>
</div>
</form>
</div>	
</ion-content>
