<ion-header>
	<ion-navbar hideBackbutton>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-row class="logo-row">
			<ion-title text-center>Transaction History</ion-title>
			<ion-buttons right>
				<button ion-button icon-only (click) = home()>
					<ion-icon name="ios-home-outline" right></ion-icon>
				</button>
			</ion-buttons>
		</ion-row>
	</ion-navbar>

</ion-header>


<ion-content padding class="cards-bg login_view">
	<ion-card>
	 	<ion-card-content>
	    	Your Total Balance : {{totalBalance}}
	  	</ion-card-content>
	</ion-card>

	<ion-list>
		<button ion-item *ngFor="let item of userTransaction">
			<h2>Transaction From : {{item.transaction_type}}</h2>
      		<h3>Transaction Id : {{item.transaction_id}}</h3>
      		<p>Amount {{item.balance}} {{(item.action == 1)?'Deposited':'Withdraw'}} By {{(item.transaction_by == 1)?'Admin':'You'}}</p>
		</button>
	</ion-list>

	<ion-buttons text-center>
		<div class="login_btn">
			<button ion-button block text-center 
			[style.position] = "'relative'"
				[style.padding] = "'0 30px'"
				[style.height] = "'50px'"
				[style.background-color] = "'#1B8BF9'"
				[style.box-shadow] = "'15px 0px 35px 0px rgba(244,67,54,0.25)'"
				[style.border-radius] = "'10px'"
				(click)=addBalance()>Add balance</button>
		</div>
	</ion-buttons>
</ion-content>
