<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
		<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Dashboard</ion-title>
		<ion-buttons right>
			<button *ngIf="userData.messageCount > 0" id="notification-button" ion-button clear icon-only (click) = supportPage()>
		        <ion-icon name="notifications">
		          <ion-badge id="notifications-badge" color="danger">{{userData.messageCount}}</ion-badge>
		        </ion-icon>              
	    	</button>

			<button ion-button icon-only (click) = logout()>
				<ion-icon name="ios-contact-outline" right></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
	<div padding class="dashboard_balance">
		<h1>${{userBalance}}</h1>
		<h2>Current Balance</h2>
		<button ion-button round (click)="addBalance()">Deposit</button>
	</div>
</ion-header>


<ion-content>
	<ion-grid>
	  	<ion-row>
		    <ion-col col-6>
		        <ion-card class="dashboard_card">
					<ion-card-header>
					Total Orders
					</ion-card-header>
					<ion-card-content class="order_img">
						<img src="assets/images/orders.png">
					</ion-card-content>
					<ion-card-header>
					{{userData?.orderCount}}
					</ion-card-header>

				</ion-card>
		    </ion-col>
		    <ion-col col-6>
		    	<ion-card class="dashboard_card">
					<ion-card-header>
					Total Spend
					</ion-card-header>
					<ion-card-content class="order_img">
						<img src="assets/images/spend.png">
					</ion-card-content>
					<ion-card-header>
						${{userData?.usedBalance}}
					</ion-card-header>
				</ion-card>
		    </ion-col>
	  	</ion-row>
	  	<ion-row>
		    <ion-col>
		        <ion-card class="dashboard_news">
					<ion-card-header>
						News Feed
						<!-- <ion-icon name="ios-arrow-forward" right></ion-icon> -->
					</ion-card-header>
					<ion-card-content class="order_img" *ngFor="let news of newsData">
						<span>{{news.created_at | date:'d/M/yyyy'}}</span>
						<p [innerHTML] = "news.content"></p>
					</ion-card-content>
				</ion-card>
		    </ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
