page-user-home {
	#notification-button {            
        position: relative;
        width: 42px;
        top:1px;
        right: 1px;
        overflow: visible!important;
    }


   	#notifications-badge {
	    background-color: #1B8BF9;
	    position: absolute;
	    top: -3px;
	    right: -3px;
	    border-radius: 100%;
    }
    ion-navbar{
        ion-title{
            text-align: center;
            .toolbar-title{
                font-weight: normal;
            }
        }
    }
    .dashboard_balance{
        /*padding-top: 30px !important;*/
        padding-bottom: 20px !important;
        text-align: center;
        color: #fff;
        h1{
            font-size: 40px;
            font-weight: normal;
            margin: 0 0 5px 0;
        }
        h2{
            font-size: 18px;
            font-weight: normal;
            margin-bottom: 30px;
        }
        button{
            background-color: #8dc63f;
            text-transform: capitalize;
            font-size: 22px;
            font-weight: normal;
            height: 4.5rem;
            padding: 0 5.6rem;
            &:hover{
                background-color: #8dc63f !important;
            }
        }
    }
    .dashboard_card{
        text-align: center;
        background: #f9f9f9;
        height: 83%;
        ion-card-header{
            font-size: 19px;
            color: #000;
            margin-bottom: 10px;
        }
        .order_img{
            img{
                width: 30%;
                margin: 0 auto;
                @media(max-width: 480px){
                    width: 45%;
                }
            }
        }
    }
    .dashboard_news{
        background: #f9f9f9;
        margin-top: -5px;
        ion-card-header{
            font-size: 20px;
            ion-icon{
                float: right;
            }
        }
        p{
            font-size: 18px;
            color: #636363;
            font-weight: normal;
            border-bottom: 1px solid #cdcdcd;
            padding-bottom: 10px;
            margin-bottom: 10px;
            &:last-child{
                border-bottom:0;
            }
        }
    }
}
