<ion-header>

  <ion-navbar hideBackButton>
  	<button ion-button menuToggle>
		<ion-icon name="menu"></ion-icon>
	</button>
    <ion-title text-center>My Orders</ion-title>
    <ion-buttons right>
		<button ion-button icon-only (click) = home()>
			<ion-icon name="ios-home-outline" right></ion-icon>
		</button>
	</ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
	<div class="order_detail_view">
		<div class="filter_order_detail">
			<ion-grid>
			    <ion-row>
				    <ion-col col-10>
				    	<ion-item>
					    	<label class="item item-input item-select">Service
			                    <!-- <select>
			                        <option selected>Service</option>
			                        <option >Green</option>
			                        <option>Red</option>
			                    </select> -->
			                </label>
	            		</ion-item>
				    </ion-col>
				    <!-- <ion-col col-3>
				    	<ion-item>
					    	<label class="item item-input item-select" text-center>Date
			                    <select>
			                        <option selected>Date</option>
			                        <option >Green</option>
			                        <option>Red</option>
			                    </select>
			                </label>
	            		</ion-item>
				    </ion-col> -->
				    <!-- <ion-col col-3>
				    	<ion-item>
					    	<label class="item item-input item-select" text-center>Quantity
			                    <select>
			                        <option selected>Quantity</option>
			                        <option >Green</option>
			                        <option>Red</option>
			                    </select>
			                </label>
	            		</ion-item>
				    </ion-col> -->
				    <ion-col col-2>
				    	<ion-item>
					    	<label class="item item-input item-select" text-center>Status
			                    <!-- <select>
			                        <option selected>Status</option>
			                        <option >Green</option>
			                        <option>Red</option>
			                    </select> -->
			                </label>
	            		</ion-item>
				    </ion-col>
			    </ion-row>
			</ion-grid>	
		</div>
		<ion-grid class="order_detail_listing">
			<ion-row *ngFor="let data of orderData" (click)="orderDetail(data)">
				<ion-col col-10 text-center>
					<ion-item>
						<!-- <ion-avatar item-start>
					        <img src="./assets/images/user-profile.png">
					    </ion-avatar> -->
					    <h2 class="text_display">{{data.service_details.name}}</h2>
					    <p>{{data.order_id}}</p>
					</ion-item>
				</ion-col>
				<!-- <ion-col col-3 text-center>
					<ion-item>
					    <p>{{data.created_at | date:'dd MMM y'}}</p>
					    <h2>${{data.charge}}</h2>
					</ion-item>
				</ion-col> -->
				<!-- <ion-col col-3 text-center>	
					<ion-item>
					    <h2>{{data.quantity}}</h2>
					    <p>${{data.rate}}</p>
					</ion-item>
				</ion-col> -->
				<ion-col col-2 class="check_order_btn" text-center>	
					<ion-list>
						<ion-item>
							<button ion-button icon-start clear item-end>
						      <img height="30" width="30" src="./assets/images/check.png" *ngIf="data.orderStatus.status == 'Completed'">
						      <img height="30" width="30" src="./assets/images/scan.png" *ngIf="data.orderStatus.status == 'Processing'">
						      <img height="30" width="30" src="./assets/images/scan.png" *ngIf="data.orderStatus.status == 'Partial'">
						      <img height="30" width="30" src="./assets/images/dots.png" *ngIf="data.orderStatus.status == 'Pending'">
						      <img height="30" width="30" src="./assets/images/cancel.png" *ngIf="data.orderStatus.status == 'Canceled'">
							</button>
						</ion-item>
					</ion-list>
				</ion-col>	
			</ion-row>
			<!-- <ion-row>
				<ion-col col-5>
					<ion-item>
						<ion-avatar item-start>
					        <img src="./assets/images/user-profile.png">
					    </ion-avatar>
					    <h2>IG Followers</h2>
					    <p>2039938</p>
					</ion-item>
				</ion-col>
				<ion-col col-3>
					<ion-item>
					    <p>22 May 2018</p>
					    <h2>$200</h2>
					</ion-item>
				</ion-col>
				<ion-col col-2>	
					<ion-item>
					    <h2>100</h2>
					    <p>$0.25</p>
					</ion-item>
				</ion-col>
				<ion-col col-2 class="check_order_btn">	
					<ion-list>
						<ion-item>
							<button ion-button icon-start clear item-end>
						      <img src="./assets/images/scan.png">
							</button>
						</ion-item>
					</ion-list>
				</ion-col>	
			</ion-row>
			<ion-row>
				<ion-col col-5>
					<ion-item>
						<ion-avatar item-start>
					        <img src="./assets/images/user-profile.png">
					    </ion-avatar>
					    <h2>IG Followers</h2>
					    <p>2039938</p>
					</ion-item>
				</ion-col>
				<ion-col col-3>
					<ion-item>
					    <p>22 May 2018</p>
					    <h2>$200</h2>
					</ion-item>
				</ion-col>
				<ion-col col-2>	
					<ion-item>
					    <h2>100</h2>
					    <p>$0.25</p>
					</ion-item>
				</ion-col>
				<ion-col col-2 class="check_order_btn">	
					<ion-list>
						<ion-item>
							<button ion-button icon-start clear item-end>
						      <img src="./assets/images/dots.png">
							</button>
						</ion-item>
					</ion-list>
				</ion-col>	
			</ion-row>
			<ion-row>
				<ion-col col-5>
					<ion-item>
						<ion-avatar item-start>
					        <img src="./assets/images/user-profile.png">
					    </ion-avatar>
					    <h2>IG Followers</h2>
					    <p>2039938</p>
					</ion-item>
				</ion-col>
				<ion-col col-3>
					<ion-item>
					    <p>22 May 2018</p>
					    <h2>$200</h2>
					</ion-item>
				</ion-col>
				<ion-col col-2>	
					<ion-item>
					    <h2>100</h2>
					    <p>$0.25</p>
					</ion-item>
				</ion-col>
				<ion-col col-2 class="check_order_btn">	
					<ion-list>
						<ion-item>
							<button ion-button icon-start clear item-end>
						      <img src="./assets/images/check.png">
							</button>
						</ion-item>
					</ion-list>
				</ion-col>	
			</ion-row>
			<ion-row>
				<ion-col col-5>
					<ion-item>
						<ion-avatar item-start>
					        <img src="./assets/images/user-profile.png">
					    </ion-avatar>
					    <h2>IG Followers</h2>
					    <p>2039938</p>
					</ion-item>
				</ion-col>
				<ion-col col-3>
					<ion-item>
					    <p>22 May 2018</p>
					    <h2>$200</h2>
					</ion-item>
				</ion-col>
				<ion-col col-2>	
					<ion-item>
					    <h2>100</h2>
					    <p>$0.25</p>
					</ion-item>
				</ion-col>
				<ion-col col-2 class="check_order_btn">	
					<ion-list>
						<ion-item>
							<button ion-button icon-start clear item-end>
						      <img src="./assets/images/scan.png">
							</button>
						</ion-item>
					</ion-list>
				</ion-col>	
			</ion-row>
			<ion-row>
				<ion-col col-5>
					<ion-item>
						<ion-avatar item-start>
					        <img src="./assets/images/user-profile.png">
					    </ion-avatar>
					    <h2>IG Followers</h2>
					    <p>2039938</p>
					</ion-item>
				</ion-col>
				<ion-col col-3>
					<ion-item>
					    <p>22 May 2018</p>
					    <h2>$200</h2>
					</ion-item>
				</ion-col>
				<ion-col col-2>	
					<ion-item>
					    <h2>100</h2>
					    <p>$0.25</p>
					</ion-item>
				</ion-col>
				<ion-col col-2 class="check_order_btn">	
					<ion-list>
						<ion-item>
							<button ion-button icon-start clear item-end>
						      <img src="./assets/images/dots.png">
							</button>
						</ion-item>
					</ion-list>
				</ion-col>	
			</ion-row> -->
		</ion-grid>
	</div>
</ion-content>
<!-- <ion-content padding class="cards-bg">
	<ion-card *ngFor="let item of orderData">
	 	<ion-card-content>
	 		<h1 class="col">Order Id : {{item.order_id}}</h1><br>
	    	<h2><b>Service</b> : {{item.service_details.name}}</h2>
	    	<h2><b>Price</b> : {{item.service_details.rate}}</h2> 
	    	<h2 *ngIf="item.service_details.admin_rate == 0"><b>Price</b> : {{item.service_details.rate}}</h2>
	    	<h2 *ngIf="item.service_details.admin_rate != 0"><b>Price</b> : {{item.service_details.admin_rate}}</h2>
	    	<h2><b>Order status : </b>{{item.orderStatus.status}}</h2>
	    	<h2><b>Quantity</b> : {{item.quantity}}</h2>
	  	</ion-card-content>
	</ion-card>
</ion-content>-->
