page-my-orders {
	/*.col{
		border-bottom: 1px solid black;
	}*/
	grid-basic-page {

	  ion-col div {
	    background-color: #f0f5ff;
	    border: 1px solid #e6e9ee;
	    border-radius: 2px;
	    padding: 5px;
	    text-align: center;
	  }
	}
	.text_display{
		text-overflow: ellipsis;
		overflow: hidden; 
		white-space: nowrap;
	}
	.filter_order_detail{
		background: #e8e8e8;
		ion-item{
			padding-left: 0;
			background-color: transparent;
			.item-inner{
				border-bottom: 0 !important;
				padding-right: 0 !important;
				.label-md{
					margin:0;
					/*height: 100%;*/
				}
				label, select{
					height: 100%;
				}
				select{
					width: auto;
					border: 0;
					background: transparent;
					font-size: 20px;
					color:#000000;
					@media(max-width: 400px){
						font-size: 16px;
					}
					@media(max-width: 350px){
						font-size: 14px;
					}
				}
			}
		}
	}
	.order_detail_listing{
		ion-label {
			text-align:center;
		}
		padding:0;
		ion-row{
			border-bottom: 1px solid #acacac;
		}
		
		ion-item{
			padding-left: 0;
			ion-avatar{
				margin-right: 5px !important;
			}
			h2{
				color: #1c1c1c;
				font-size: 18px;
				@media(max-width: 400px){
					font-size: 16px;
				}
			}
			p{
				font-size: 14px;
				color: #585858;
				@media(max-width: 400px){
					font-size: 12px;
				}
			}
			.item-inner{
				border-bottom:0 !important;
				padding-right: 0 !important;
			}
		}
		.check_order_btn{

			.list-md{
				margin: 0;
			}
			.list-md, .item{
				height: 100%;
			}
			.item-button{
				height: auto;
				padding: 0;
				margin: 0 auto;
				/*img{
					width: 70%;
				}*/
			}
			.input-wrapper {
				display:none;
			}
		}
	}
}
	