<ion-content no-bounce class="login_view">
	<!-- <ion-row class="logo-row">
		<ion-col col-1>
			<div padding>
				<ion-icon (click)="popPage()" name="md-arrow-back" style="font-size: 35px;color:#488AFF">
				</ion-icon>
			</div>
		</ion-col>
	</ion-row> -->

<!-- <ion-row class="logo-row" [style.padding-top]="'20px'">
<ion-col text-center>
<img src="./assets/images/logo.png" style="display: inline-block;max-width: 100px;" />
</ion-col>
</ion-row> -->

<ion-row class="login_header">
	<ion-col text-center>
		<ion-icon (click)="popPage()" name="md-arrow-back" style="font-size: 35px;color:white !important;    position: absolute;left: 20px;top: 20px;">
        </ion-icon>
		<h4>Create an account</h4>
		<div class="user_profile">
                <img src="./assets/images/user-profile.png" alt="user-profile">
        </div>
	</ion-col>
</ion-row>
<!-- <ion-row>
        
        <button class="create_new" ion-button block type="button" clear (click)="goToSignup()">
            Create a new account
        </button>
    </ion-row> -->

	<div padding>
		<form (submit)="signupUser()" [formGroup]="signupForm" novalidate>
			<div class="row responsive-md">
                <div class="col col-50 col-offset-25">
                    <div class="user_input">
                    	<ion-icon ios="ios-person" md="md-person"></ion-icon>
					<ion-item [style.padding-left]='"0px"'>
						<!-- <ion-label stacked>First Name</ion-label> -->
						<ion-input #firstname formControlName="firstname" type="text" placeholder="Your first name" 
						[class.invalid]="!signupForm.controls.firstname.valid && signupForm.controls.firstname.dirty">
						</ion-input>
					</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.firstname" >
					<div class="error" *ngIf="signupForm.get('firstname').hasError(validation.type) && (signupForm.get('firstname').dirty || signupForm.get('firstname').touched)">
				{{ validation.message }}
					</div>
				</ng-container>
			</div>
		</div>
		<div class="user_input">
			<ion-icon ios="ios-person" md="md-person"></ion-icon>
			<ion-item [style.padding-left]='"0px"'>
				<!-- <ion-label stacked>Last Name</ion-label> -->
				<ion-input #lastname formControlName="lastname" type="text" placeholder="Your last name"
				[class.invalid]="!signupForm.controls.lastname.valid && signupForm.controls.lastname.dirty">
				</ion-input>
				
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.lastname" >
					<div class="error" *ngIf="signupForm.get('lastname').hasError(validation.type) && (signupForm.get('lastname').dirty || signupForm.get('lastname').touched)">
				{{ validation.message }}
					</div>
				</ng-container>
			</div>
		</div>
		<div class="user_input">
			<ion-icon ios="ios-mail" md="md-mail"></ion-icon>
			<ion-item [style.padding-left]='"0px"'>
				<!-- <ion-label stacked>Email</ion-label> -->
				<ion-input #email formControlName="email" type="email" placeholder="Your email address" 
				[class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty">
				</ion-input>
			</ion-item>

			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.email" >
					<div class="error" *ngIf="signupForm.get('email').hasError(validation.type) && (signupForm.get('email').dirty || signupForm.get('email').touched)">
				{{ validation.message }}
					</div>
				</ng-container>
			</div>
		</div>
			<!-- <ion-item [style.padding-left]='"0px"'>
				<ion-label stacked>Phone</ion-label>
				<ion-input #phone formControlName="phone" type="number" placeholder="Your phone number" 
				[class.invalid]="!signupForm.controls.phone.valid && signupForm.controls.phone.dirty">
				</ion-input>
			</ion-item> -->
			<div class="user_input">
				<ion-icon ios="ios-lock" md="md-lock"></ion-icon>
			<ion-item [style.padding-left]='"0px"'>
				<!-- <ion-label stacked>Password</ion-label> -->
				<ion-input #password formControlName="password" type="password" placeholder="Your password" 
				[class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty">
				</ion-input>
			</ion-item>

			<!-- <ion-item class="error-message" 
			*ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty">
			<p>Your password needs more than 6 characters.</p>
			</ion-item> -->
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.password" >
					<div class="error" *ngIf="signupForm.get('password').hasError(validation.type) && (signupForm.get('password').dirty || signupForm.get('password').touched)">
				{{ validation.message }}
					</div>
				</ng-container>
			</div>
		</div>
			<br>
			<div class="login_btn">
<button ion-button block type="submit"
[style.position] = "'relative'"
[style.padding] = "'0 30px'"
[style.height] = "'50px'"
[style.background-color] = "'#1B8BF9'"
[style.box-shadow] = "'15px 0px 35px 0px rgba(244,67,54,0.25)'"
[style.border-radius] = "'10px'"
>
Create an Account
</button>
</div>
<br>
</div>
</div>
<!-- <button ion-button block type="button" clear (click)="goToLogin()">
	Already have an account? LOGIN
</button> -->
</form>
</div>			
</ion-content>
