<ion-header>

  <ion-navbar>
    <ion-title>Order detail</ion-title>
    <ion-buttons right>
		<button ion-button icon-only (click) = logout()>
			<ion-icon name="exit" right></ion-icon>
		</button>
	</ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="cards-bg">
<ion-card>
	<ion-card-content>
 		<h1 class="col">Order Id : {{orderDetails.order_id}}</h1><br>
    	<h2><b>Order Status</b> : {{status}}</h2>
    	<h2><b>Charge</b> : {{charge}}</h2> 
    	<h2><b>Currency</b> : {{currency}}</h2> 
	</ion-card-content>
</ion-card>
</ion-content>
